{% extends "base.html.j2" %}

{% block title %}Home{% endblock %}
{% block content %}

<form class="login" action="/admin/password" method="POST">
    <label for="current_password">Current password</label>
    <input type="password" placeholder="Enter current password" name="current_password">
    <label for="new_password">New password</label>
    <input type="password" placeholder="Enter new password" name="new_password">
    <label for="new_password_check">Confirm new password</label>
    <input type="password" placeholder="Enter new password" name="new_password_check">
    <button type="submit">Change password</button>
</form>

<a href="/admin/dashboard">Back</a>

{% endblock %}