{% extends "base.html.j2" %}

{% block title %}Home{% endblock %}
{% block content %}

<h1>Welcome {{ username }}!</h1>
<ul>
    <li><a href="/admin/password">Change password</a></li>
</ul>

{% endblock %}