<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>

<body>
    <div class="container">
        <header class="menu">
            <a href="/subscribe">Subscribe</a>
            <a href="/login">Login</a>
        </header>

        <div class="content">
            {% if let Some(msgs) = flash_messages %}
            {% for msg in msgs.iter() -%}

            {% let flash_class %}
            {% if msg.level() == actix_web_flash_messages::Level::Error %}
            {% let flash_class = "flash-error" %}
            {% else %}
            {% let flash_class = "flash-info" %}
            {% endif %}
            <p class="flash {{ flash_class }}"><i>{{ msg.content() }}</i></p>

            {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>