{% extends "base.html.j2" %}

{% block title %}Login{% endblock %}
{% block content %}

<form class="login" action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" placeholder="Enter Username" name="username">
    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password">
    <button type="submit">Login</button>
</form>

{% endblock %}